:root {
    --main-bg-color: #333333;
    --main-purple:#7c247f;
    --main-red: #b1311a;
    --main-white: #d6d6d6e5;
  }

body, input, button, form, textarea,a {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.material-icons {
    width: 24px;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 0.5rem;
}

nav {
    width: 100%;
    height: 6rem;
    display: flex;
    background-color:var(--main-bg-color);
}

.container-logo{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-right: 2px solid;
}

.logo{
    margin: 5%;
    text-decoration: none;
}

.logo img {
    width: 100%;
}

.container-busca {
    margin: 0 5%;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.formbusca{
    display: flex;
}
:focus{outline: none;}

.inpbusca{
    border: 0;
    height: 2.5rem;
    padding: 0;
    width: 20rem;
    box-sizing: border-box; letter-spacing: 1px;
}

.inpbusca{border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s;}

.inpbusca ~ .focus-border:before,
.inpbusca ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.3s;}
.inpbusca ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.inpbusca ~ .focus-border i:before,
.inpbusca ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #3399FF; transition: 0.4s;}
.inpbusca ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.inpbusca:focus ~ .focus-border:before,
.inpbusca:focus ~ .focus-border:after{width: 100%; transition: 0.3s;}
.inpbusca:focus ~ .focus-border i:before,
.inpbusca:focus ~ .focus-border i:after{height: 100%; transition: 0.4s;}

.bntbusca{
    border: 0;
    height: 2.5rem;
    width: 2.5rem;
    background: linear-gradient(to bottom right, var(--main-red) , var(--main-purple));
    padding: 0;
}

.bntbusca i{
    color: var(--main-white);
    margin: 0;
   
}

.bntcliente{
    color: var(--main-white);
    border: 0;
    height: 2.5rem;
    width: 20%;
    background: linear-gradient(to bottom right,var(--main-red) , var(--main-purple));
    padding: 0;
}

.bntcliente i{
    color: var(--main-white);
    margin: 0;
   
}

.container-carrinho {
    width: 15%;
    border-left: 2px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: row;
}

.itens{
    width: 100%;
    height: 100vh;
    background: var(--main-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dropbtn {
    background-color: var(--main-bg-color);
    color: white;
    height: 4rem;
    border: none;
    cursor: pointer;
    text-align: start;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: var(--main-bg-color);
    opacity: 50%;
  }
  
  .dropdown {
    display: flex;
  }
  
  .dropdown-content {
    width: 15.6%;
    height: 100vh;
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .categoria{
    color:var(--main-white);
    background: var(--main-bg-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .subcategoria{
    color:var(--main-white);
    background: linear-gradient(to bottom right, var(--main-red) , var(--main-purple));
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  @media (orientation: portrait)
{
    nav{
        flex-direction: column;
        height: 100%;
        align-items: center;
    }

    .container-busca{
        width: 100%;
        border-left: 0;
        border-top: 2px solid;
        margin: 0 5%;
    }

    .formbusca{
        margin-left: 0;
    }

    .container-carrinho{
        border-left: 0;
        border-top: 2px solid;
    }

    .bntcliente{
        margin: 1rem 1rem;
    }

   .container-carrinho{
        width: 100%;
   }

   .dropbtn{
    margin: 1rem 1rem;
    
   }

    .dropbtn{
        margin-top: 1rem;
    }

    .container-logo{
        border-right: 0;
    }

    .content{
        flex-direction: column;
    }

    .dropdown-content{
        width: 100%;
        height: 100%;
    }

    .categoria , .subcategoria{
        text-align: center;
        padding: 12px 16px;
    }
}